# Task 1: Try the algo on Dataset3 - LabelEncoding of features: and Train test Division 95%-5%

In [2]:
# Libraries
import pandas as pd
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.model_selection import train_test_split

In [3]:
data=pd.read_csv("Dataset3.csv")

In [4]:
data

   Outlook Temp Wind  Humidity  Class
0        R    H    F         1      0
1        R    H    T         2      0
2        O    H    F         1      1
3        R    M    F         1      1
4        S    C    F         1      1
5        O    C    T         0      0
6        O    C    T         1      1
7        R    M    F         1      0
8        O    C    F         0      1
9        S    M    F         2      1
10       R    C    T         2      0
11       O    M    T         0      1
12       O    H    F         1      1
13       S    M    T         1      0

In [5]:
data.describe()

        Humidity      Class
count  14.000000  14.000000
mean    1.000000   0.571429
std     0.679366   0.513553
min     0.000000   0.000000
25%     1.000000   0.000000
50%     1.000000   1.000000
75%     1.000000   1.000000
max     2.000000   1.000000

In [6]:
data.head()

  Outlook Temp Wind  Humidity  Class
0       R    H    F         1      0
1       R    H    T         2      0
2       O    H    F         1      1
3       R    M    F         1      1
4       S    C    F         1      1

Outlook:  
R 1  
O 0  
S 2  
Temp:
H 1  
M 2  
C 0  
Humidity:
Normal 2   
High 0   
ex 1  
Wind:  
F 0  
T 1

In [7]:
#creating labelEncoder
le = preprocessing.LabelEncoder()

# Converting string labels into numbers.
data["Outlook"]=le.fit_transform(data["Outlook"])
data["Temp"]=le.fit_transform(data["Temp"])
data["Humidity"]=le.fit_transform(data["Humidity"])
data["Wind"]=le.fit_transform(data["Wind"])
data["Class"]=le.fit_transform(data["Class"])
data.head()

   Outlook  Temp  Wind  Humidity  Class
0        1     1     0         1      0
1        1     1     1         2      0
2        0     1     0         1      1
3        1     2     0         1      1
4        2     0     0         1      1

In [8]:
X=data.drop(["Class"], axis = 1) 
Y=data["Class"]

In [9]:
# Train Test devison 95-5
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.05, random_state = 141)

In [10]:
import numpy as np
model = GaussianNB()
#Create a Classifier
#model=MultinomialNB()
# Train the model using the training sets
model.fit(X_train,Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [11]:

#Predict the response for test dataset
target_pred = model.predict(X_test)

In [12]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(Y_test, target_pred))

Accuracy: 0.0

In [13]:
#Import confusion_matrix from scikit-learn metrics module for confusion_matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test, target_pred)

array([[0, 1],
       [0, 0]])

In [14]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

precision = precision_score(Y_test, target_pred, average='binary')
recall = recall_score(Y_test, target_pred, average='binary')

print('precision: {}'.format(precision))
print('recall: {}'.format(recall))

precision: 0.0
recall: 0.0

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Outlook:  
R 1  
O 0  
S 2  
Temp:
H 1  
M 2  
C 0  
Humidity:
Normal 2   
High 0   
ex 1  
Wind:  
F 0  
T 1

In [15]:
Que = {'Outlook':  [1, 2],'Temp':[2,0],'Humidity':[2,0],'Wind':[0,1]}
,
df = pd.DataFrame (Que, columns = ['Outlook','Temp','Humidity','Wind'])
df

   Outlook  Temp  Humidity  Wind
0        1     2         2     0
1        2     0         0     1

In [16]:
ans = model.predict(df)
ans

array([0, 1])

Answer is:  
    Q1: No 
    Q2: Yes